{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
<ul style="
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
">
    <li style="
        /* Rounded border */
        border-radius: 9999px;
        height: 20px;
        width: 20px;

        /* Active dot */
        background-color: rgba(0, 0, 0, .3);

        /* Inactive dot */
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, .3);

        /* OPTIONAL: Spacing between dots */
        margin: 0 4px;
    " />
</div>

<!-- -->
 <!--   <div style="height:512px;position:relative;transform-style:preserve-3d;transition:transform 1s ease 0s">
        <div style="backface-visibility:hidden;height:100%;left:0;opacity:1;overflow:scroll;position:absolute;top:0;width:100%"> 
            <div style="align-items:center;display:flex;flex-direction:column;height:100%;justify-content:center;padding:8px">
                <ul style="align-items:center;display:flex;justify-content:center;list-style-type:none;margin:0;padding:0">
                    <li style="background-color:rgba(0,0,0,.3);border:none;border-radius:9999px;cursor:pointer;height:12px;margin:0 4px;width:12px"></li>
                    <li style="border:1px solid rgba(0,0,0,.3);border-radius:9999px;cursor:pointer;height:12px;margin:0 4px;width:12px"></li>
                    <li style="border:1px solid rgba(0,0,0,.3);border-radius:9999px;cursor:pointer;height:12px;margin:0 4px;width:12px"></li>
                    <li style="border:1px solid rgba(0,0,0,.3);border-radius:9999px;cursor:pointer;height:12px;margin:0 4px;width:12px"></li>
                </ul>
            </div>
  <!--      </div>
    </div> 
-->

    <!-- -->


<div class="main-content-wrapper">
    <main class="main-content">

<!-- add navigation dots here -->


        <div class="container-fluid">
            <h1>Rainfall Estimation</h1>

            <a href="url">Learn more </a> | <a href="url">Help </a>
            <!-- Adding a list of "Hello" greetings -->
            <div class="card">
                <div class="card-header">
                    Convert Level II Data to CfRadial (RadxConvert)
                </div>
                <div class="card-body">
                	Step 1: Choose data source <br> 
                    <table class="table">
                    <thead>
                    <tr>
                    <th scope="col">Default</th>
                    <th scope="col"></th>
                    </tr>
                    <tr>
                	<th> default/raw/data </th>
                    <th><a href="#choose-data-source">Change data source </a> </th>
                    </tr>
                    </thead>
                    </table>

                	Step 2: Setup parameter file <br>
                    <table class="table">
                    <thead>
                    <tr>
                	<th scope="col">Default</th>
                    <th scope="col"></th>
                    </tr>
                    <tr>
                    <th> parameter/file.params</th>

                	<th><a href="url">Change parameter file </a> </th>
                    <!-- <a href="url">Upload your parameter file </a> </th> -->
                            </tr>
                        </thead>
                    </table>


                    <!-- <select id="greeting-select"></select>  -->
                    <button id="run-radxconvert-button" class="btn btn-primary">Run</button>
                </div>
            </div>

           <!-- Displaying a list of recent experiments -->
            <div class="card">
                <div class="card-header">
                    Previous Conversions
                </div>
                <div class="card-body">
                    <button id="conversion-refresh-button" class="btn btn-secondary">Refresh</button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Application</th>
                                <th scope="col">Status</th>
                                <th scope="col">Creation Time</th>
                                <th scope="col">OutDir</th>
                                <th scope="col">Log</th>
                                <th scope="col">Next Stage</th>
                            </tr>
                        </thead>
                        <tbody id="experiment-list-conversion">
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- begin My Storage-->

            <div class="card" id="stage2">
                <div class="card-header">
                    Compute Beam Blockage (RadxBeamBlock)
                </div>
                <div class="card-body">
                    
                    <a href="url">Choose data source </a> <br>
                    
                    Set up parameter file <br>
                    <a href="url">Download template </a> <br>
                    <a href="url">Upload your parameter file </a> <br>
                    Output Data - NetCDF Cartesian rate data - view using (CIDD)


                    <!-- <select id="greeting-select"></select>  -->
                    <button id="run-button" class="btn btn-primary">Run</button>
                </div>
            </div>            

             <div class="card">
                <div class="card-header">
                    Map Rate to Surface (RadxRate)
                </div>
                <div class="card-body">
                	
                	<a href="url">Choose data source </a> <br>
                	
                	Set up parameter file <br>
                	<a href="url">Download template </a> <br>
                	<a href="url">Upload your parameter file </a> <br>


                    <!-- <select id="greeting-select"></select>  -->
                    <button id="run-button" class="btn btn-primary">Run</button>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Compute Something (RadxQpe)
                </div>
                <div class="card-body">
                	
                	<a href="url">Choose data source </a> <br>
                	
                	Set up parameter file <br>
                	<a href="url">Download template </a> <br>
                	<a href="url">Upload your parameter file </a> <br>
                	Output Data - NetCDF Cartesian rate data - view using (CIDD)


                    <!-- <select id="greeting-select"></select>  -->
                    <button id="run-button" class="btn btn-primary">Run</button>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Compute Rainfall Accumulation (RateAccum)
                </div>
                <div class="card-body">
                	
                	<a href="url">Choose data source </a> <br>
                	
                	Set up parameter file <br>
                	<a href="url">Download template </a> <br>
                	<a href="url">Upload your parameter file </a> <br>
                	Output Data - NetCDF Cartesian accumulated data - view using (CIDD)

                    <!-- <select id="greeting-select"></select>  -->
                    <button id="run-button" class="btn btn-primary">Run</button>
                </div>
            </div>
            <!-- -->

            <button id="run-button" class="btn btn-secondary">Exit</button>

            <!-- Displaying a list of recent experiments -->
            <div class="card">
                <div class="card-header">
                    Experiments
                </div>
                <div class="card-body">
                    <button id="refresh-button" class="btn btn-secondary">Refresh</button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Application</th>
                                <th scope="col">Creation Time</th>
                                <th scope="col">Status</th>
                                <th scope="col">Output</th>
                            </tr>
                        </thead>
                        <tbody id="experiment-list">
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- begin My Storage-->

            <!-- Displaying a list of recent experiments -->
            <div class="card">
                <div class="card-header">
                    User Storage
                </div>
                <div class="card-body">
                    <!-- button id="refresh-button" class="btn btn-secondary">Refresh</button -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Directory</th>
                                <th scope="col">URL</th>
                                <th scope="col">Size</th>                                             
                            </tr>
                        </thead>
                        <tbody id="storage-dir-list">
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">File</th>
                                <th scope="col">dataProductURI</th>
                                <th scope="col">Mime Type</th>
                                <th scope="col">Size</th>                                             
                            </tr>
                        </thead>
                        <tbody id="storage-file-list">
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- begin My Storage-->

<div class="card">
<div class="card-header">
Choose data source
</div>
<div class="card-body">        
<div id="user-storage"/>

  </div>

  <script>
    // provide data for initializing api's session.Session
    window.AiravataPortalSessionData = {"username": "brenda92", "airavataInternalUserId": "brenda92@lrose", "isGatewayAdmin": true};
  </script>
  <!-- script type="text/javascript" src="/static/common/dist/js/chunk-vendors.7db780c7.js" ></script>
  <script type="text/javascript" src="/static/common/dist/js/app.faa7ad7b.js" ></script>
  
    <script type="text/javascript" src="/static/common/dist/js/notices.398e45d2.js" ></script>
  
  
<script type="text/javascript" src="/static/django_airavata_workspace/dist/js/chunk-vendors.e45ba37b.js" ></script>
<script type="text/javascript" src="/static/django_airavata_workspace/dist/js/chunk-common.18aeeebe.js" ></script>
<script type="text/javascript" src="/static/django_airavata_workspace/dist/js/user-storage.ecc9856a.js" ></script-->
</div>
</div>

<!-- end My Storage  -->

        </div>
    </main>
</div>
{% endblock content %}

{% block scripts %}

<script src="{% static 'django_airavata_api/dist/airavata-api.js' %}"></script>

<script>

    const { models, services, session, utils } = AiravataAPI;



// https://gateway.lrose.net/api/user-storage/~/garbage_dump/
    function chooseDataSource(path) {
        return services.UserStoragePathService.get({
            path,
        }).then(data => {
            $("#storage-dir-list").empty();
            data.directories.forEach((item, index) => {
                $("#storage-dir-list").append(
                    `<tr>
                            <td>${item.name}</td>
                            <td>${item.url}</td>
                            <td>${item.size}</td>
                        </tr>`
                );
            });
            $("#storage-file-list").empty();
            data.files.forEach((item, index) => {
                $("#storage-file-list").append(
                    `<tr>
                            <td>${item.name}</td>
                            <td>${item.dataProductURI}</td>

                            <td>${item.mimeType}</td>
                            <td>${item.size}</td>
                        </tr>`
                );
            });
        });    
    };

    chooseDataSource();
    // $("#choose-data-source").click(chooseDataSource("~/garbage_dump")); 
    $("#choose-data-source").click(chooseDataSource("~/"));   

    const appInterfaceId = "RadxConvert_0d6e7a6a-8c70-49d5-8cd2-f00091e42559";
//      "nexrad_display_4837fe51-7c52-426e-963d-f2c32d699947"; 
    const stage2AppInterfaceId = "precip_stage2_0e0c14cb-d094-4e13-a633-4d4248058b7c";

    const stage1AppInterfaceId = "RadxConvert_display_c814c263-ab5d-4e97-b10f-3a5295420487";



    function loadExperiments() {
        return services.ExperimentSearchService.list({
            limit: 5,
            [models.ExperimentSearchFields.USER_NAME.name]:
                session.Session.username,
            [models.ExperimentSearchFields.APPLICATION_ID.name]: stage2AppInterfaceId
        }).then(data => {
            $("#experiment-list").empty();
            data.results.forEach((exp, index) => {
                $("#experiment-list").append(
                    `<tr>
                            <td>${exp.name}</td>
                            <td>${exp.executionId}</td>
                            <td>${exp.creationTime}</td>
                            <td>${exp.experimentStatus.name}</td>
                            <td id="output_${index}"></td>
                        </tr>`
                );
                // If experiment has finished, load full details, then parse the stdout file
                if (exp.experimentStatus === models.ExperimentState.COMPLETED) {
                    services.FullExperimentService.retrieve({
                        lookup: exp.experimentId
                    })
                        .then(fullDetails => {
                            console.log('here 1');
                            const stdoutDataProductId = fullDetails.experiment.experimentOutputs.find(
                                o => o.name === "Standard-Out"
                            ).value;  // TODO: getting an error here ... 
                            // here 1
// url:491 Uncaught (in promise) TypeError: Cannot read property 'value' of undefined
//    at url:491
                            const stdoutDataProduct = fullDetails.outputDataProducts.find(
                                dp => dp.productUri === stdoutDataProductId
                            );
                            if (
                                stdoutDataProduct &&
                                stdoutDataProduct.downloadURL
                            ) {
                                console.log('here 2');
                                return fetch(stdoutDataProduct.downloadURL, {
                                    credentials: "same-origin"
                                }).then(result => result.text());
                            }
                        })
                        .then(text => {
                            $(`#output_${index}`).text(text);
                        });
                }
            });
        });
    }

    loadExperiments();
    $("#refresh-button").click(loadExperiments);

    function populateStage2(processDirName) {
        alert(processDirName);
    }

    function populateStage2Full(processDirName) {
        // TODO: populate the inputs to the next stage with the info from the processDirName,
        // or maybe the experiementID??
        // then when "Run" is clicked, send the processDirName as argument.
        const step = "stage2"; // $("#greeting-select").val();
        //const data_file_uri = "\"2020 09 29 12 00 00\"";
        //const param_file_uri = "\"2020 09 29 12 10 00\"";
        const data_file_uri = "airavata-dp://bc297ca4-5d28-4f84-9647-08ab1af9dd64";
        const param_file_uri = "airavata-dp://42d4e0c2-3969-4d69-a735-0bc0d7caca52";
        //const radar_name = "KFTG";
        const loadAppInterface = services.ApplicationInterfaceService.retrieve({lookup: stage2AppInterfaceId});
// TODO: get the id of the RadxConvert_display application
        //const appDeploymentId = "lrose-vc.jetstream-cloud.org_nexrad_display_a6ceaf23-4a54-4f03-9c69-bdd0a8dcf21d";
        const appDeploymentId = "lrose-vc.jetstream-cloud.org_RadxConvert_display_dbba2d50-4949-40f1-a0eb-fca71df8ec37";
        const loadQueues = services.ApplicationDeploymentService.getQueues({ lookup: appDeploymentId });

        const resourceHostId = "lrose-vc.jetstream-cloud.org_d785f302-592b-45e7-9907-c06b31631592"; 
        const queueName = "cloud";
        const groupResourceProfileId = "621cdb88-33b4-47ee-953d-ee31d9cd2012";
        const loadWorkspacePrefs = services.WorkspacePreferencesService.get();
        Promise.all([loadAppInterface, loadWorkspacePrefs, loadQueues])
        .then(([appInterface, workspacePrefs, queues]) => {
            const experiment = appInterface.createExperiment();
            experiment.experimentName = "precip " + step;
            experiment.projectId = workspacePrefs.most_recent_project_id;
            const cloudQueue = queues.find(q => q.queueName === queueName);
            experiment.userConfigurationData.groupResourceProfileId = groupResourceProfileId;
            experiment.userConfigurationData.computationalResourceScheduling.resourceHostId = resourceHostId;
            experiment.userConfigurationData.computationalResourceScheduling.totalCPUCount = cloudQueue.defaultCPUCount;
            experiment.userConfigurationData.computationalResourceScheduling.nodeCount = cloudQueue.defaultNodeCount;
            experiment.userConfigurationData.computationalResourceScheduling.wallTimeLimit = cloudQueue.defaultWalltime;
            experiment.userConfigurationData.computationalResourceScheduling.queueName = queueName;
            // Copy the selected greeting to the value of the first input
            experiment.experimentInputs[0].value = processDirName;  // TODO: this needs to be a list; comma separated list
            experiment.experimentInputs[1].value = param_file_uri; // TODO: make this 1st parameter
            //experiment.experimentInputs[2].value = radar_name;

            return services.ExperimentService.create({data: experiment});
        }).then(exp => {
            return services.ExperimentService.launch({lookup: exp.experimentId});
        })
    };

    function some_function(processDirName) {
        return new Promise(function(resolve, reject) {
            let x = 0;

            if (x == 0) {
               resolve(alert(processDirName));
            } else {
               reject(alert("It broke"));
           }
        });
    };

    function loadRadxConversionExperiments() {
        return services.ExperimentSearchService.list({
            limit: 7,
            [models.ExperimentSearchFields.USER_NAME.name]:
                session.Session.username,
            [models.ExperimentSearchFields.APPLICATION_ID.name]: stage1AppInterfaceId
        }).then(data => {
            $("#experiment-list-conversion").empty();
            data.results.forEach((exp, index) => {
                $("#experiment-list-conversion").append(
                    `<tr>
                            <td>${exp.name}</td>
                            <td>${exp.executionId}</td>
                            <td>${exp.experimentStatus.name}</td>
                            <td>${exp.creationTime}</td>
                            <td id="outdir_${index}"></td>
                            <td id="log_${index}">
                            <a href="url">view log file </a> </td>
                            <td>
                            <a href="#stage2" id="continue_${index}">Continue</button>
                             </td>
                        </tr>`

                        // <a href="#stage2">continue next step </a>

                        // <a rel="nofollow" href="http"
                        //    <a rel="${exp.processDirName}" href="#stage2">continue next step </a> </td>

                );
                // TODO: the url for continue needs to have the experimentId 
                //       the url would be the next step card, 
                // If experiment has finished, load full details, then parse the stdout file
                if (exp.experimentStatus === models.ExperimentState.COMPLETED) {
                    services.FullExperimentService.retrieve({
                        lookup: exp.experimentId
                    })
                        //.then(fullDetails => {
                        //    console.log('here 11');
                        //    const stdoutDataProductId = fullDetails.experiment.experimentOutputs.find(
                        //        o => o.name === "Output-Dir"
                        //    ).value;  
                        //    const stdoutDataProduct = fullDetails.outputDataProducts.find(
                        //        dp => dp.productUri === stdoutDataProductId
                        //    );
                        //    if (
                        //        stdoutDataProduct &&
                        //        stdoutDataProduct.downloadURL
                        //    ) {
                        //        console.log('here 12');
                        //        return stdoutDataProductId.name;
                        //        //return fetch(stdoutDataProduct.downloadURL, {
                        //        //    credentials: "same-origin"
                        //        //}).then(result => result.text());
                        //    }
                        //})
                        //.then(fullDetails => {
                        //    console.log('here 111');
                        //    const outdirDataProductId = fullDetails.experiment.experimentOutputs.find(
                        //        o => o.name === "Output-Dir"
                        //    ).value; 
                        //    if (
                        //        outdirDataProductId 
                        //    ) {
                        //        console.log('here 112');
                        //        $(`#outdir_${index}`).text(outdirDataProductId);
                        //        //return fetch(stdoutDataProduct.downloadURL, {
                        //        //    credentials: "same-origin"
                        //        //}).then(result => result.text());
                        //    }
                        //})
                        .then(fullDetails => {
                            console.log('here 1111');
                            const processDirName = fullDetails.experiment.processes[0].processId; 
                            if (
                                processDirName 
                            ) {
                                console.log('here 1112');
                                $(`#outdir_${index}`).text(processDirName);
                                $(`#continue_${index}`).on("click", function() { alert(processDirName);});
                                //$(`#continue_${index}`).click(some_function(processDirName)
                                //    .then(
                                //        function(value) {alert("here1");},
                                //        function(error) {alert("here_error");}
                                //        ));
                                //return fetch(stdoutDataProduct.downloadURL, {
                                //    credentials: "same-origin"
                                //}).then(result => result.text());
                            }
                        });
                        // .catch(alert("Problem fetching previous experiments")); 
                        //.then(text => {
                        //    //$(`#continue_${index}`).text(text);
                        //    $(`#continue_${index}`).click(function() {
                        ////       alert(exp.processes.processId);
                        //        alert(exp.experimentId);
                        //    })
                        //});
                }
            });
        });
    }    

    //$("#continue_*").click(???)

    loadRadxConversionExperiments();
    $("#conversion-refresh-button").click(loadRadxConversionExperiments);

    $("#run-radxconvert-button").click(e => {
        const step = "RadxConvert"; // $("#greeting-select").val();
        //const data_file_uri = "\"2020 09 29 12 00 00\"";
        //const param_file_uri = "\"2020 09 29 12 10 00\"";
        const data_file_uri = "airavata-dp://bc297ca4-5d28-4f84-9647-08ab1af9dd64";
        const param_file_uri = "airavata-dp://42d4e0c2-3969-4d69-a735-0bc0d7caca52";
        //const radar_name = "KFTG";
        const loadAppInterface = services.ApplicationInterfaceService.retrieve({lookup: stage1AppInterfaceId});
// TODO: get the id of the RadxConvert_display application
        //const appDeploymentId = "lrose-vc.jetstream-cloud.org_nexrad_display_a6ceaf23-4a54-4f03-9c69-bdd0a8dcf21d";
        const appDeploymentId = "lrose-vc.jetstream-cloud.org_RadxConvert_display_dbba2d50-4949-40f1-a0eb-fca71df8ec37";
        const loadQueues = services.ApplicationDeploymentService.getQueues({ lookup: appDeploymentId });

        const resourceHostId = "lrose-vc.jetstream-cloud.org_d785f302-592b-45e7-9907-c06b31631592"; 
        const queueName = "cloud";
        const groupResourceProfileId = "621cdb88-33b4-47ee-953d-ee31d9cd2012";
        const loadWorkspacePrefs = services.WorkspacePreferencesService.get();
        Promise.all([loadAppInterface, loadWorkspacePrefs, loadQueues])
        .then(([appInterface, workspacePrefs, queues]) => {
            const experiment = appInterface.createExperiment();
            experiment.experimentName = "workflow " + step;
            experiment.projectId = workspacePrefs.most_recent_project_id;
            const cloudQueue = queues.find(q => q.queueName === queueName);
            experiment.userConfigurationData.groupResourceProfileId = groupResourceProfileId;
            experiment.userConfigurationData.computationalResourceScheduling.resourceHostId = resourceHostId;
            experiment.userConfigurationData.computationalResourceScheduling.totalCPUCount = cloudQueue.defaultCPUCount;
            experiment.userConfigurationData.computationalResourceScheduling.nodeCount = cloudQueue.defaultNodeCount;
            experiment.userConfigurationData.computationalResourceScheduling.wallTimeLimit = cloudQueue.defaultWalltime;
            experiment.userConfigurationData.computationalResourceScheduling.queueName = queueName;
            // Copy the selected greeting to the value of the first input
            experiment.experimentInputs[0].value = data_file_uri;  // TODO: this needs to be a list; comma separated list
            experiment.experimentInputs[1].value = param_file_uri; // TODO: make this 1st parameter
            //experiment.experimentInputs[2].value = radar_name;

            return services.ExperimentService.create({data: experiment});
        }).then(exp => {
            return services.ExperimentService.launch({lookup: exp.experimentId});
        })
    });



    $("#run-stage2-button").click(e => {
        const step = "stage2"; // $("#greeting-select").val();
        //const data_file_uri = "\"2020 09 29 12 00 00\"";
        //const param_file_uri = "\"2020 09 29 12 10 00\"";
        const data_file_uri = "airavata-dp://bc297ca4-5d28-4f84-9647-08ab1af9dd64";
        const param_file_uri = "airavata-dp://42d4e0c2-3969-4d69-a735-0bc0d7caca52";
        //const radar_name = "KFTG";
        const loadAppInterface = services.ApplicationInterfaceService.retrieve({lookup: stage2AppInterfaceId});
// TODO: get the id of the RadxConvert_display application
        //const appDeploymentId = "lrose-vc.jetstream-cloud.org_nexrad_display_a6ceaf23-4a54-4f03-9c69-bdd0a8dcf21d";
        const appDeploymentId = "lrose-vc.jetstream-cloud.org_precip_stage2_3f37c217-4a4e-4031-871f-13a054123c26";
        const loadQueues = services.ApplicationDeploymentService.getQueues({ lookup: appDeploymentId });

        const resourceHostId = "lrose-vc.jetstream-cloud.org_d785f302-592b-45e7-9907-c06b31631592"; 
        const queueName = "cloud";
        const groupResourceProfileId = "621cdb88-33b4-47ee-953d-ee31d9cd2012";
        const loadWorkspacePrefs = services.WorkspacePreferencesService.get();
        Promise.all([loadAppInterface, loadWorkspacePrefs, loadQueues])
        .then(([appInterface, workspacePrefs, queues]) => {
            const experiment = appInterface.createExperiment();
            experiment.experimentName = "precip " + step;
            experiment.projectId = workspacePrefs.most_recent_project_id;
            const cloudQueue = queues.find(q => q.queueName === queueName);
            experiment.userConfigurationData.groupResourceProfileId = groupResourceProfileId;
            experiment.userConfigurationData.computationalResourceScheduling.resourceHostId = resourceHostId;
            experiment.userConfigurationData.computationalResourceScheduling.totalCPUCount = cloudQueue.defaultCPUCount;
            experiment.userConfigurationData.computationalResourceScheduling.nodeCount = cloudQueue.defaultNodeCount;
            experiment.userConfigurationData.computationalResourceScheduling.wallTimeLimit = cloudQueue.defaultWalltime;
            experiment.userConfigurationData.computationalResourceScheduling.queueName = queueName;
            // Copy the selected greeting to the value of the first input
            experiment.experimentInputs[0].value = data_file_uri;  // TODO: this needs to be a list; comma separated list
            experiment.experimentInputs[1].value = param_file_uri; // TODO: make this 1st parameter
            //experiment.experimentInputs[2].value = radar_name;

            return services.ExperimentService.create({data: experiment});
        }).then(exp => {
            return services.ExperimentService.launch({lookup: exp.experimentId});
        })
    });

    $("#run-button").click(e => {
        const greeting = "something"; // $("#greeting-select").val();
        const start_time = "\"2020 09 29 12 00 00\"";
        const end_time = "\"2020 09 29 12 10 00\"";
        const radar_name = "KFTG";
        const loadAppInterface = services.ApplicationInterfaceService.retrieve({lookup: stage1AppInterfaceId});

        const appDeploymentId = "lrose-vc.jetstream-cloud.org_nexrad_display_a6ceaf23-4a54-4f03-9c69-bdd0a8dcf21d";
        const loadQueues = services.ApplicationDeploymentService.getQueues({ lookup: appDeploymentId });

        const resourceHostId = "lrose-vc.jetstream-cloud.org_d785f302-592b-45e7-9907-c06b31631592"; 
        const queueName = "cloud";
        const groupResourceProfileId = "621cdb88-33b4-47ee-953d-ee31d9cd2012";
        const loadWorkspacePrefs = services.WorkspacePreferencesService.get();
        Promise.all([loadAppInterface, loadWorkspacePrefs, loadQueues])
        .then(([appInterface, workspacePrefs, queues]) => {
            const experiment = appInterface.createExperiment();
            experiment.experimentName = "workflow " + greeting;
            experiment.projectId = workspacePrefs.most_recent_project_id;
            const cloudQueue = queues.find(q => q.queueName === queueName);
            experiment.userConfigurationData.groupResourceProfileId = groupResourceProfileId;
            experiment.userConfigurationData.computationalResourceScheduling.resourceHostId = resourceHostId;
            experiment.userConfigurationData.computationalResourceScheduling.totalCPUCount = cloudQueue.defaultCPUCount;
            experiment.userConfigurationData.computationalResourceScheduling.nodeCount = cloudQueue.defaultNodeCount;
            experiment.userConfigurationData.computationalResourceScheduling.wallTimeLimit = cloudQueue.defaultWalltime;
            experiment.userConfigurationData.computationalResourceScheduling.queueName = queueName;
            // Copy the selected greeting to the value of the first input
            experiment.experimentInputs[0].value = start_time;
            experiment.experimentInputs[1].value = end_time;
            experiment.experimentInputs[2].value = radar_name;

            return services.ExperimentService.create({data: experiment});
        }).then(exp => {
            return services.ExperimentService.launch({lookup: exp.experimentId});
        })
    });

    </script>

{% endblock scripts %}


